:root {
  --black: #3B434E;
  --white: #fff;
  --primary: #7653FC;
  --primary-hover: #6446d7;
  --orange: #FC836D;
  --red: #DE0000;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --background-color: #F5F6F8;
  --gray-light: #B3C0D9;
  --gray: #787D85;
  --outline: #EBEBEB;
}

html,
body {
  background: var(--background-color);
  color: var(--black);
  font-family: var(--font-family);
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
