import styles from "./{{> Name}}.module.css";

interface {{> Name}}Props {

}

export const {{> Name}} = (props: {{> Name}}Props) => {
  const {  } = props;

  return (
    <div data-testid="{{> Name}}" className={ styles.{{> lowerName}} }></div>
  );
};
